<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript">
        var today = new Date();
        var selectedCell = null;



        function buildCalendar() {
            var dateElement = document.createElement("input");
            dateElement.setAttribute("type", "text");
            dateElement.setAttribute("id", "date");

            var row = null;
            var row1 = null;
            var cnt = 0;
            var calendarTable = document.getElementById("calendar");
            var calendarTableTitle = document.getElementById("calendarTitle");
            calendarTable.style.backgroundColor = "#DFF6ED";
            calendarTableTitle.innerHTML = today.getFullYear() + "년" + (today.getMonth() + 1) + "월";

            var firstDate = new Date(today.getFullYear(), today.getMonth(), 1);
            var lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0);
            while (calendarTable.rows.length > 2) {
                calendarTable.deleteRow(calendarTable.rows.length - 1);
            }

            row = calendarTable.insertRow();
            for (i = 0; i < firstDate.getDay(); i++) {
                cell = row.insertCell();
                cnt += 1;
            }

            row1 = calendarTable.insertRow();

            for (i = 1; i <= lastDate.getDate(); i++) {
                cell = row.insertCell();
                cnt += 1;

                cell.classList.add("product-calendar-cell");
                cell.setAttribute('id', i);
                cell.innerHTML = i;
                cell.align = "center";


                // 해당 날짜에 대한 메모 데이터 로드
                var clickedYear = today.getFullYear();
                var clickedMonth = (1 + today.getMonth());
                var clickedDate = i;

                clickedDate = clickedDate >= 10 ? clickedDate : '0' + clickedDate;
                clickedMonth = clickedMonth >= 10 ? clickedMonth : '0' + clickedMonth;
                var selectedDate = clickedYear + "-" + clickedMonth + "-" + clickedDate;
                LoadMemoData(selectedDate, cell);


                cell.onclick = function () {
                    if (selectedCell) {
                        selectedCell.classList.remove("product-calendar-selected");
                    }
                    selectedCell = this;
                    selectedCell.classList.add("product-calendar-selected");
                    this.classList.remove("product-calendar-hover");

                    clickedYear = today.getFullYear();
                    clickedMonth = (1 + today.getMonth());
                    clickedDate = this.getAttribute('id');

                    clickedDate = clickedDate >= 10 ? clickedDate : '0' + clickedDate;
                    clickedMonth = clickedMonth >= 10 ? clickedMonth : '0' + clickedMonth;

                    selectedDate = clickedYear + "-" + clickedMonth + "-" + clickedDate;

                    document.getElementById("selectedDate").innerText = selectedDate;
                    showMemoModal(selectedDate);
                }
                if (cnt % 7 == 1) {
                    cell.innerHTML = "<font color=#FF0000>" + i + "</font>";
                }

                if (cnt % 7 == 0) {
                    cell.innerHTML = "<font color=#0055FF>" + i + "</font>";
                    row = calendarTable.insertRow();
                }
            }

            if (cnt % 7 != 0) {
                for (i = 0; i < 7 - (cnt % 7); i++) {
                    cell = row.insertCell();
                }
            }
        }

        function LoadMemoData(selectedDate, cell) {
            var formattedDate = selectedDate;
            var requestData = { todoDeadline: formattedDate };
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "loadMemo", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var memoText = xhr.responseText;
                    cell.innerHTML += "<br>" + memoText;
                }
            };
            xhr.send(JSON.stringify(requestData));
        }




        function prevCalendar() {
            today = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
            buildCalendar();
        }

        function nextCalendar() {
            today = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
            buildCalendar();
        }
    </script>
</head>
<body>

<div class="my_right_title">캘린더</div>
<br>

<div class="product-calendar-box">
    <table id="calendar" align="center">
        <tr>
            <td align="center" class="product-calendar" style="border: none"><label onclick="prevCalendar()"> ◀
            </label></td>
            <td colspan="5" align="center" id="calendarTitle" style="border: none">yyyy년 m월</td>
            <td align="center" class="product-calendar" style="border: none"><label onclick="nextCalendar()"> ▶
            </label></td>
        </tr>
        <tr>
            <td align="center" class="product-calendar">
                <font color="#FF0000">일
            </td>
            <td align="center" class="product-calendar">월</td>
            <td align="center" class="product-calendar">화</td>
            <td align="center" class="product-calendar">수</td>
            <td align="center" class="product-calendar">목</td>
            <td align="center" class="product-calendar">금</td>
            <td align="center" class="product-calendar">
                <font color="#0055FF">토</font>
            </td>
        </tr>
        <script type="text/javascript">buildCalendar();</script>
    </table>
</div>

<div id="memoModal" class="withdrawmodal">
    <div class="width_draw_modal_content">
        <div id="selectedDate">[[${selectedDate}]]</div>
        <label for="memo">메모:</label>
        <input type="text" id="memo" name="memo">
        <button onclick="saveMemo()">저장</button>
        <button onclick="deleteMemo()">삭제</button>
        <button onclick="cancelMemo()">취소</button>
    </div>
</div>



<script>

    var selectedDate;

    function showMemoModal(date) {
        selectedDate = date;
        document.getElementById("memoModal").style.display = "block";
    }



    function saveMemo() {
        const todoContent = document.getElementById("memo").value;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "saveMemo", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    alert(xhr.responseText);
                    document.getElementById("memo").value = "";
                    document.getElementById("memoModal").style.display = "none";
                    loadPage('devhelper_calendar');
                } else {
                    alert("메모 저장 중 오류 발생: " + xhr.status);
                }
            }
        };
        xhr.send(JSON.stringify({ todoContent: todoContent, todoDeadline: selectedDate }));
    }

    function deleteMemo() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "deleteMemo", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    alert(xhr.responseText);
                    document.getElementById("memo").value = "";
                    document.getElementById("memoModal").style.display = "none";
                    loadPage('devhelper_calendar');
                } else {
                    alert("메모 삭제 중 오류 발생: " + xhr.status);
                }
            }
        };
        xhr.send(JSON.stringify({ todoDeadline: selectedDate }));
    }







    function cancelMemo() {
        // 취소 로직을 추가할 수 있습니다.
        document.getElementById("memoModal").style.display = "none";
    }
</script>

</body>
</html>