<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

</head>
<body>

<div th:insert="common/header :: header"></div>


<div class="content">
    <div class="my_content">

        <div class="my_left_container" th:insert="mypage/mypage_left_menu :: mypage_left_menu"></div>

        <div class="my_right_container">
            <div class="my_right_container2">
                <script>
                loadPage('home_follow');
                </script>
            </div>
        </div>

    </div>
</div>

<div th:insert="common/footer :: footer"></div>

</body>
</html>
