




/*게시판 글 시작*/
#inquiry-area {
    margin-top: 50px;
    border-collapse: separate;
    border-spacing: 0 12px;
    font-size: 17px;
}

#inquiry-area tbody td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#inquiry-area tbody td:nth-child(2) {
    font-family: "bd";
    cursor: pointer;
}

#inquiry-area tbody td:nth-child(4) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#inquiry-area tbody tr {
    background-color: #dff6ed;
    height: 44px;
    text-align: center;
}

#inquiry-area tbody tr:hover {
    background: #48917A;
    cursor: pointer;
    color: white;
}




/*게시판 글 끝*/






/*글작성 버튼*/
#move-to-inquiry {
    width: 900px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right : 55px;
}

#move-to-inquiry>button {
    width: 130px;
    height: 32px;
    text-decoration: none;
    background-color: #48917A;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "bd";
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#move-to-inquiry>button:hover {
    color: white;
}

/*글작성 버튼 끝*/



/* 페이징바 */
.pagination ul li {
	
	padding: 7px 12px;
 	margin-right: 10px; /* 버튼 간격 조정 */
    margin-top: 20px;
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(226, 219, 219);
     display: flex;
        align-items: center;
        justify-content: center;
}



.pagination ul li:hover {
    background-color: #48917A;
    color: #fff;
}
.pagination ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

 .pagination ul li:last-child {
     margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
 }
    .pagination ul li a {
     color: black; /* 글자 색상을 검정색으로 설정 */
     text-decoration: none; /* 밑줄 제거 */
 }
/* 페이징바 끝 */